{% extends "base.html" %}

{% block content %}
    <h3><a href="{{ url_for('registrazioni', id=registrazione.registro.id) }}">{{ registrazione.registro.nome }}</a>{{ " "+ registrazione.nome|string}}</h3>

    <datalist id="partner_datalist">
    {% for partner in partners %}
    <option value="{{ partner.nome }}">
    {% endfor %}
    </datalist>

    <datalist id="registro_datalist">
    {% for registro in registri %}
    <option value="{{ registro.nome }}">
    {% endfor %}
    </datalist>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table>
          <tr>
            <td {{ form.partner.label }} <br> {{ form.partner(size=40,list="partner_datalist",autocomplete="off") }} <br> {% for error in form.partner.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.descrizione.label }} <br> {{ form.descrizione(size=40) }} <br> {% for error in form.descrizione.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.data_contabile.label }} <br> {{ form.data_contabile(size=10) }} <br> {% for error in form.data_contabile.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.data_decorrenza.label }} <br> {{ form.data_decorrenza(size=10) }} <br> {% for error in form.data_decorrenza.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.data_scadenza.label }} <br> {{ form.data_scadenza(size=10) }} <br> {% for error in form.data_scadenza.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
          </tr>
        </table>
        <p>{{ form.note.label }} <br> {{ form.note }} <br> {% for error in form.note.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</p>
        <p>{{ form.submit() }}</p>
    </form>

    {% set ns = namespace(ready=true) %}
    {% if registrazione.data_contabile == None or registrazione.data_decorrenza == None or registrazione.data_scadenza == None %}
        {% set ns.ready = false %}
    {% endif %}

    <table border="1">
        <caption>
            <h3>Voci</h3>
        </caption>
        <thead>
            <tr><th>Descrizione</th><th>Conto</th><th>Importo</th><th>Azione</th></tr>
        </thead>
        <tbody>
        {% for v in voci %}
            <tr>
                <td><a href="{{ url_for('voce_ricevuta', id=v.id) }}">{{ v.descrizione }}</a></td>
                <td>{{ v.conto.nome }}</td>
                {% if v.conto == None or v.importo == None %}
                    {% set ns.ready = false %}
                    <td></td>
                {% else %}
                    <td align="right">{{ v.importo|formatimporto }}</td>
                {% endif %}
                <form method="POST" action="{{ url_for('rimuovi_voce', id=v.id) }}">
                <td> <input type="submit" value="Rimuovi"></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form method="GET" action="{{ url_for('aggiungi_voce', id=registrazione.id) }}">
    <td> <input type="submit" value="Aggiungi"></td>
    </form>


    <table border="1">
        <thead>
            <tr><th>Registrazione</th><th>Importo</th><th>Saldo</th><th>Data contabile</th><th>Azione</th></tr>
        </thead>
        <tbody>
        {% for r in registrazioni %}
            <tr>
                <td><a href="{{ url_for('registrazione', id=r.id) }}">{{ r.nome }}</a></td>
                <td align="right">{{ r.importo|formatimporto }}</td>
                {% if r.registro.categoria=="Vendita" %}
                <td align="right">{{ r.saldo|formatimporto }}</td>
                {% else %}
                <td align="right">{{ -r.saldo|formatimporto }}</td>
                {% endif %}
                <td align="right">{{ r.data_contabile|formatdate }}</td>
                <form method="POST" action="{{ url_for('aggiungi_riconciliazione', id=registrazione.id, riconciliazione_id=r.id) }}">
                <td> <input type="submit" value="Riconcilia"></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>



    <form action="" method="post" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}

        <table>
          <tr>
            <td> {{ upload_form.file.label }} <br> {{ upload_form.file() }} <br> {% for error in upload_form.file.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td valign="bottom"> {{ upload_form.submit2() }} </td>
          </tr>
        </table> 
    </form>


    <table border="1">
        <tbody>
        {% for a in allegati %}
            <tr>
                <td><a href="{{ url_for('download_file', id=a.id) }}">{{ a.nome }}</a></td>
                <form method="POST" action="{{ url_for('rimuovi_allegato', id=a.id) }}">
                <td> <input type="submit" value="Rimuovi"></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    {% if ns.ready == true %}
        <form method="GET" action="{{ url_for('registra_ricevuta', id=registrazione.id) }}">
        <td> <input type="submit" value="Registra"></td>
        </form>
    {% endif %}

{% endblock %}
