{% extends "base.html" %}

{% block content %}

    <datalist id="registri_datalist">
    {% for registro in registri %}
    <option value="{{ registro.nome }}">
    {% endfor %}
    </datalist>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <table>
          <tr>
            <td {{ form.registro.label }} <br> {{ form.registro(size=30,list="registri_datalist",autocomplete="off") }} <br> {% for error in form.registro.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
          </tr>
        </table> 
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
