{% extends "base.html" %}

{% block content %}

    <datalist id="partner_datalist">
    {% for partner in partners %}
    <option value="{{ partner.nome }}">
    {% endfor %}
    </datalist>

    <h3><a href="{{ url_for('stampe', id=stampa.registro_stampa.id) }}">{{ stampa.registro_stampa.nome }}</a></h3>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <table>
          <tr>
            <td {{ form.nome.label }} <br> {{ form.nome(size=40) }} <br> {% for error in form.nome.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.data_decorrenza.label }} <br> {{ form.data_decorrenza(size=10) }} <br> {% for error in form.data_decorrenza.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.data_scadenza.label }} <br> {{ form.data_scadenza(size=10) }} <br> {% for error in form.data_scadenza.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.partner.label }} <br> {{ form.partner(size=40,list="partner_datalist",autocomplete="off") }} <br> {% for error in form.partner.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
          </tr>
        </table>
        <p>{{ form.submit() }}</p>
    </form>

    <table>
        <tbody>
        {% for a in allegati %}
            <tr>
                <td><a href="{{ url_for('download_file', id=a.id) }}">{{ a.nome }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
