{% extends "base.html" %}

{% block content %}

    <datalist id="conti_datalist">
    {% for conto in conti %}
    <option value="{{ conto.nome }}">
    {% endfor %}
    </datalist>

    <datalist id="partner_datalist">
    {% for partner in partners %}
    <option value="{{ partner.nome }}">
    {% endfor %}
    </datalist>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <table>
          <tr>
            <td {{ form.descrizione.label }} <br> {{ form.descrizione(size=30) }} <br> {% for error in form.descrizione.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.conto.label }} <br> {{ form.conto(size=30,list="conti_datalist",autocomplete="off") }} <br> {% for error in form.conto.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.partner.label }} <br> {{ form.partner(size=30,list="partner_datalist",autocomplete="off") }} <br> {% for error in form.partner.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.dare.label }} <br> {{ form.dare(size=10) }} <br> {% for error in form.dare.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
            <td {{ form.avere.label }} <br> {{ form.avere(size=10) }} <br> {% for error in form.avere.errors %} <span style="color: red;">[{{ error }}] </span> {% endfor %}</td>
          </tr>
        </table> 
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
